{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://the-one-api.dev/v2//movie?limit=100&offset=0&page=1",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Ratelimit-Limit": [
            "100"
          ],
          "X-Ratelimit-Remaining": [
            "21"
          ],
          "X-Ratelimit-Reset": [
            "1684958823"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"723-d6t4nK+eImEG1mJNGWO9FVZR4gA\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"docs\":[{\"_id\":\"5cd95395de30eff6ebccde56\",\"name\":\"The Lord of the Rings Series\",\"runtimeInMinutes\":558,\"budgetInMillions\":281,\"boxOfficeRevenueInMillions\":2917,\"academyAwardNominations\":30,\"academyAwardWins\":17,\"rottenTomatoesScore\":94},{\"_id\":\"5cd95395de30eff6ebccde57\",\"name\":\"The Hobbit Series\",\"runtimeInMinutes\":462,\"budgetInMillions\":675,\"boxOfficeRevenueInMillions\":2932,\"academyAwardNominations\":7,\"academyAwardWins\":1,\"rottenTomatoesScore\":66.33333333},{\"_id\":\"5cd95395de30eff6ebccde58\",\"name\":\"The Unexpected Journey\",\"runtimeInMinutes\":169,\"budgetInMillions\":200,\"boxOfficeRevenueInMillions\":1021,\"academyAwardNominations\":3,\"academyAwardWins\":1,\"rottenTomatoesScore\":64},{\"_id\":\[...]
