{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://the-one-api.dev/v2/movie/0cd95395de30eff6ebccde56",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Ratelimit-Limit": [
            "100"
          ],
          "X-Ratelimit-Remaining": [
            "15"
          ],
          "X-Ratelimit-Reset": [
            "1684958823"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"40-gA8mKIdcXV61xB2JVFodO20s4mc\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"docs\":[],\"total\":0,\"limit\":1000,\"offset\":0,\"page\":1,\"pages\":1}"
        }
      },
      "recorded_at": "Wed, 24 May 2023 20:02:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}