{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://the-one-api.dev/v2//movie/5cd95395de30eff6ebccde5b/quote?limit=100&offset=0&page=1",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Ratelimit-Limit": [
            "100"
          ],
          "X-Ratelimit-Remaining": [
            "18"
          ],
          "X-Ratelimit-Reset": [
            "1684958823"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"4e75-oHsZ9dCR/0/I6EPkglxHGjZG4VE\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"docs\":[{\"_id\":\"5cd96e05de30eff6ebcce9b8\",\"dialog\":\"Sauron's wrath will be terrible, his retribution swift.\",\"movie\":\"5cd95395de30eff6ebccde5b\",\"character\":\"5cd99d4bde30eff6ebccfea0\",\"id\":\"5cd96e05de30eff6ebcce9b8\"},{\"_id\":\"5cd96e05de30eff6ebcce9b9\",\"dialog\":\"The battle for Helm's Deep is over. The battle for Middle-earth is about to begin.\",\"movie\":\"5cd95395de30eff6ebccde5b\",\"character\":\"5cd99d4bde30eff6ebccfea0\",\"id\":\"5cd96e05de30eff6ebcce9b9\"},{\"_id\":\"5cd96e05de30eff6ebcce9ba\",\"dialog\":\"All our hopes now lie with two little Hobbits...\",\"movie\":\"5cd95395de30eff6ebccde5b\",\"character\":\"5cd99d4bde30eff6ebccfea0\",\"id\":\"5cd96e05de30eff6ebcce9[...]
