{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://the-one-api.dev/v2//quote/5cd96e05de30eff6ebcce7f7",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Ratelimit-Limit": [
            "100"
          ],
          "X-Ratelimit-Remaining": [
            "17"
          ],
          "X-Ratelimit-Reset": [
            "1684958823"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"e0-bb88CzCx2RCC7zRcTVkWLtF7DV0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"docs\":[{\"_id\":\"5cd96e05de30eff6ebcce7f7\",\"dialog\":\"Oooohhh!\",\"movie\":\"5cd95395de30eff6ebccde5d\",\"character\":\"5cd99d4bde30eff6ebccfc15\",\"id\":\"5cd96e05de30eff6ebcce7f7\"}],\"total\":1,\"limit\":1000,\"offset\":0,\"page\":1,\"pages\":1}"
        }
      },
      "recorded_at": "Wed, 24 May 2023 20:01:58 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}