{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://the-one-api.dev/v2//quote?limit=100&offset=0&page=1",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Ratelimit-Limit": [
            "100"
          ],
          "X-Ratelimit-Remaining": [
            "13"
          ],
          "X-Ratelimit-Reset": [
            "1684958823"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"5515-jR6/I6wztruERYvz3Q/O2VcF8Ig\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"docs\":[{\"_id\":\"5cd96e05de30eff6ebcce7e9\",\"dialog\":\"Deagol!\",\"movie\":\"5cd95395de30eff6ebccde5d\",\"character\":\"5cd99d4bde30eff6ebccfe9e\",\"id\":\"5cd96e05de30eff6ebcce7e9\"},{\"_id\":\"5cd96e05de30eff6ebcce7ea\",\"dialog\":\"Deagol!\",\"movie\":\"5cd95395de30eff6ebccde5d\",\"character\":\"5cd99d4bde30eff6ebccfe9e\",\"id\":\"5cd96e05de30eff6ebcce7ea\"},{\"_id\":\"5cd96e05de30eff6ebcce7eb\",\"dialog\":\"Deagol!\",\"movie\":\"5cd95395de30eff6ebccde5d\",\"character\":\"5cd99d4bde30eff6ebccfe9e\",\"id\":\"5cd96e05de30eff6ebcce7eb\"},{\"_id\":\"5cd96e05de30eff6ebcce7ec\",\"dialog\":\"Give us that! Deagol my love\",\"movie\":\"5cd95395de30eff6[...]
